.app {
  min-height: 100vh;
  padding-bottom: 96px;
  background: #f8f8f8;
}

.home {
  background: #fff;
}

.container {
  width: min(100% - 48px, 1184px);
  margin: 0 auto;
  padding-top: 48px;
}

@media (min-width: 1280px) {
  .container {
    width: min(100% - 256px, 1184px);
  }
}
